<nav class="navbar navbar-static-top">
    <div class="container navigation">
        <div class="navbar-header">
            <img class='logo' src="https://cdn4.iconfinder.com/data/icons/ballicons-2-free/100/pencil-32.png"></img>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.name.first }}!</span>
            <a class="btn login-button" ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>