<nav class="navbar navbar-static-top">
<div class="container navigation">
   <div class="navbar-header">
      <p class="logo" ui-sref="home">educare</p>
   </div>
   <ul class="nav navbar-nav">
      <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
         <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
      </li>
   </ul>
   <button ng-show="!user" ui-sref="login" class="btn login-button"><i class="fa fa-long-arrow-right"></i></button>
   <div ng-show="user" class="welcome">
      <div class="btn-group">
         <span class="sr-only" data-toggle="dropdown" aria-expanded="false">{{ user.name.first }}</span>
         <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="userProfile({userId: user._id})">My Profile</a></li>
            <li><a href="#"><i class="fa fa-pencil fa-fw"></i>Edit</a></li>
            <li><a href="#"><i class="fa fa-cloud-upload fa-fw"></i>Upload</a></li>
             <li><a ng-click="createDocument()" ng-click="createDocument()"><i class="fa fa-plus fa-fw"></i>Create new</a></li>
            <li><a ng-click="logout()"><i class="fa fa-user fa-fw"></i>Sign out</a></li>
         </ul>
      </div>
   </div>
</div>