<nav class="navbar navbar-static-top">
<div class="container navigation">
   <div class="navbar-header">
      <img ui-sref="home" class='logo' src="https://cdn4.iconfinder.com/data/icons/ballicons-2-free/100/pencil-32.png"></img>
   </div>
   <ul class="nav navbar-nav">
      <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
         <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
      </li>
   </ul>
   <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
   <div ng-show="user" class="welcome">
      <div class="btn-group">
         <span class="sr-only" data-toggle="dropdown" aria-expanded="false">Welcome, {{ user.name.first }}!</span>
         <ul class="dropdown-menu" role="menu">
            <li><a href="#"><i class="fa fa-pencil fa-fw"></i>Edit</a></li>
            <li><a href="#"><i class="fa fa-trash-o fa-fw"></i>Delete</a></li>
            <li><a ng-click="logout()"><i class="fa fa-user fa-fw"></i>Sign out</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
         </ul>
      </div>
   </div>
</div>