.document-snapshot {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  h1 {
      a {
          text-decoration: none;
          color: black;
      }
  }
  border-bottom: 1px solid #eee;
  padding: 15px;
    * {
        text-align: left;
    }
    .btn {
        border-radius: 100%;
        background-color: transparent;
        border-color: #bdbdbd;
        height: 44px;
        outline: none;

        &:focus {
            outline: none;
        }
    }
}
.tag-box {
    cursor: pointer;
    &:hover {
        border-color: #D0D0D0;
        color: #D0D0D0;
    }
}

#doc-content {
    * {
        text-align: left;
        font-size: 16px;
        font-family: 'Roboto';
        font-weight: 100;
    }
}
