$blue-color: #23D2F2;
$red-color: #FE4641;


navbar {

  display: block;
  position: fixed;
  top: 0;
  background: white;
  border-bottom: 1px solid #CCC;
  width: 100%;
  z-index: 1000;

  .navbar {
    margin-bottom: 0px;
  }


  .logo {
    margin-top: 20%;
    margin-right: 8px;
    transition: margin 0.2s;
    transform: translate3d(0,0,0);
    font-family: 'Megrim', cursive;
    color: black;
  }

  a {
    color: #0C0C0C;
    &:hover {
      color: $blue-color;
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: $blue-color;
    }
    &:hover {
      transition: color 0.2s;
    }
    &:focus {
      color: $blue-color;
      background: transparent;
    }
  }

  .navbar-nav > li > a {
    transition: padding 0.2s;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    background: transparent;
  }

  .login-button {
    float: right;
    border: none;
    background-color: white;
    color: black;
    height: 5%;
    font-size: 2em;
    margin-top: 8px;
    margin-right: 8px;
    transition: margin 0.2s;
    &:focus,
    &:active {
      outline: none;
    }
  }

  .welcome {
    float: right;
    margin-top: 0px;
    margin-right: 0px;
    transform: translate3d(0,0,0);

    span {
      color: grey !important;
      position: relative;
      top: 16px;
      padding-right: 8px;
      transition: top 0.2s;
      transform: translate3d(0,0,0);
    }
    a {
      color: #FFF;
      cursor: pointer;
    }
  }

  &.nav-top-level {
    border-bottom: none;
    background: transparent;


    .logo {
      margin-top: 39%;
      color: white;
      font-family: 'Megrim', cursive;
    }

    a {
      color: white;
    }
    .welcome {
      span {
        top: 32px;
        color: #000;
      }
    }

    .navbar-nav > li > a {
      padding: 30px 15px;
    }


    .login-button {
      margin-top: 23px;
      float: right;
      border: none;
      background-color: black;
      font-size: 3em;
      margin-right: 8px;
      transition: margin 0.2s;
      color:#FFF;
      &:focus,
      &:active {
        outline: none;
      }
    }
  }

}

.dropdown-menu {
  position: absolute;
  top: 50px;
  left: -10px;
  a{
    color: black !important;
  }
  
}