<div class="buttonWrapper">
    <div ng-if="!isNotUser" class="edit-buttons">
        <p> Likes: {{docInfo.document.likes}}</p>
        <button title="Document Info" class="btn info-btn" ng-click="toggle()"><i class="fa fa-info fa-fw"></i></button>
        <a  title="Download PDF" class="btn pdf-btn" href="/api/documents/{{document._id}}/export" target="_blank"><i class="fa fa-file-pdf-o fa-fw"></i></a>
        <button title="Suggest Changes to Original Author" class="btn suggest-btn" ng-click="makePullRequest()" ng-show="isBranched"><i class="fa fa-share fa-fw"></i></button>
    </div>
    <div ng-if="isNotUser" class="view-buttons">
        <p>By <a ui-sref="userProfile({userId: document.author._id})">{{document.author.username}}</a></p>
        <p> Likes: {{docInfo.document.likes}}</p>
        <button title="Favorite" class="btn like-btn" ng-class="{'hasLiked': hasLiked}" ng-click="likeDoc()"><i class="fa fa-heart-o fa-fw"></i></button>
        <button title="Add to Reading List" ng-show="isNotUser" class="btn" ng-click="addToBookmarks()" ng-class="{'hasAdded': hasAdded}"><i class="fa fa-bookmark-o fa-fw"></i></button>
        <a  title="Download PDF" class="btn pdf-btn" href="/api/documents/{{document._id}}/export" target="_blank"><i class="fa fa-file-pdf-o fa-fw"></i></a>
        <button title="Copy Document" class="btn copy-btn" ng-click="branchDocument()"><i class="fa fa-files-o fa-fw"></i></button>
        <br/>
        <p>Tags:</p>
        <p class="tag-box" ng-repeat="tag in docInfo.document.tags">{{tag.text}}</p>

    </div>
    <input ng-show="isUser" id="search-collaborators" class="form-control center-block searchCollabs" placeholder="search collaborators"></input>
</div>
<div>
    <div id="sidebar-wrapper" ng-show="checked">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">Information</li>
            <li><a href="#" ng-click="seeDashboard()">Suggested Edits {{numPullRequests}}</a></li>
            <li><a href="#" ng-click="seeDashboard()">Collaborators {{document.editAccess.length}}</a></li>
            <li><a href="#" ng-click="seeDashboard()">Drafts {{commits.length}}</a></li>
            <li><a href="#" ng-click="createUserFolder()">New Document</a></li>
        </ul>
    </div>
</div>
<div id="click" ng-click=""></div>

<!--<input id="search-collaborators" class="form-control">-->

<div class="container editorWrapper">
    <div contentEditable="true" id="document-title" ng-model="docInfo.document.title">{{ docInfo.document.title }}</div>
    <div ng-if="canEdit" medium-editor add-or-delete="contentToHtml" class="editor" ng-model="contentToHtml"  options='{"buttons": ["bold", "italic", "underline", "anchor", "header1", "header2", "quote", "orderedlist", "unorderedlist"], "firstHeader": "h1", "secondHeader": "h2"}' bind-options="markdownOptions">
    </div>
    <div ng-if="!canEdit" medium-editor add-or-delete="contentToHtml" class="editor" ng-model="contentToHtml"  options='{"buttons": ["bold", "italic", "underline", "anchor", "header1", "header2", "quote", "orderedlist", "unorderedlist"], "disableEditing": true, "disableToolbar": true}' bind-options="markdownOptions">
    </div>
    <div ng-show="isUser">
        <div class="btn-group categoriesButton" dropdown ng-show="isUser">
            <select type="button" class="btn btn-default category-select" ng-model="docInfo.document.category" ng-options="category for category in categories">
                <!--<option value>Category</option>-->
                <option ng-repeat="category in categories" value="{{category}}">{{category}}
                </option>
            </select>
        </div>
        <tags-input ng-model="docInfo.document.tags"></tags-input>
    </div>

</div>


<div ng-controller="PopoverDemoCtrl">
     <button class="btn btn-default" popover-template="dynamicPopover.templateUrl" ng-show="isUser"><i class="fa fa-floppy-o fa-fw"></i></button>
    <script type="text/ng-template" id="myPopoverTemplate.html">
        <div class="writeYourMessage">{{dynamicPopover.content}}</div>
        <div class="form-group">
          <input type="text" ng-model="docInfo.message" class="form-control">
          <p title="Save Document" class="btn save-btn" ng-click="changeMade(docInfo) && saveUserDocument(docInfo)" ng-show="isUser">Save</p>
        </div>
    </script>
</div>
