<div class="buttonWrapper">
    <div ng-if="!isNotUser" class="edit-buttons">
        <p> Likes: {{docInfo.document.likes}}</p>
        <button title="Document Info" class="btn info-btn" ng-click="toggle()"><i class="fa fa-info fa-fw"></i></button>
        <button title="Download PDF" class="btn pdf-btn" href="/api/documents/{{document._id}}/export" target="_blank"><i class="fa fa-file-pdf-o fa-fw"></i></button>
        <button title="Suggest Changes to Original Author" class="btn suggest-btn" ng-click="makePullRequest()" ng-show="isBranched"><i class="fa fa-share fa-fw"></i></button>
        <button title="Save Document" ng-show="changeMade(docInfo)" class="btn save-btn" ng-click="changeMade(docInfo) && saveUserDocument(docInfo)" ng-show="isUser"><i class="fa fa-floppy-o fa-fw"></i></button>
    </div>
    <div ng-if="isNotUser" class="view-buttons">
        <p>By <a ui-sref="userProfile(document.author._id)">{{document.author.username}}</a></p>
        <p> Likes: {{docInfo.document.likes}}</p>
        <button title="Favorite" class="btn like-btn" ng-click="branchDocument()"><i class="fa fa-heart-o fa-fw"></i></button>
        <button title="Add to Reading List" class="btn bookmark-btn" ng-click="branchDocument()"><i class="fa fa-bookmark-o fa-fw"></i></button>
        <button title="Download PDF" class="btn pdf-btn" href="/api/documents/{{document._id}}/export" target="_blank"><i class="fa fa-file-pdf-o fa-fw"></i></button>
        <button title="Copy Document" class="btn copy-btn" ng-click="branchDocument()"><i class="fa fa-files-o fa-fw"></i></button>
    </div>
</div>
<div>
    <div id="sidebar-wrapper" ng-show="checked">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">Information</li>
            <li><a href="#" ng-click="seeDashboard()">Suggested Edits {{document.pullRequests.length}}</a></li>
            <li><a href="#" ng-click="seeDashboard()">Collaborators {{document.editAccess.length}}</a></li>
            <li><a href="#" ng-click="seeDashboard()">Drafts {{commits.length}}</a></li>
            <li><a href="#" ng-click="createUserFolder()">New Document</a></li>
        </ul>
    </div>
</div>
<div id="click" ng-click=""></div>
<input id="search-collaborators" class="form-control">
<div class="container editorWrapper">
    <div ng-if="canEdit" medium-editor add-or-delete="contentToHtml" class="editor" ng-model="contentToHtml"  options='{"buttons": ["bold", "italic", "underline", "anchor", "header1", "header2", "quote", "orderedlist", "unorderedlist"], "firstHeader": "h1", "secondHeader": "h2"}' bind-options="markdownOptions">
    </div><br/>
    <div ng-if="!canEdit" medium-editor add-or-delete="contentToHtml" class="editor" ng-model="contentToHtml"  options='{"buttons": ["bold", "italic", "underline", "anchor", "header1", "header2", "quote", "orderedlist", "unorderedlist"], "disableEditing": true, "disableToolbar": true}' bind-options="markdownOptions">
    </div><br/>
    <div ng-show="isUser">
        <div class="btn-group categoriesButton" dropdown ng-show="isUser">
            <select type="button" class="btn btn-default category-select" ng-model="docInfo.document.categories[0]">
                <option value>Category</option>
                <option ng-repeat="category in categories" value="{{category}}">{{category}}
                </option>
            </select>
        </div>
        <tags-input class="tag-box" ng-model="docInfo.document.tags"></tags-input>
    </div>
</div>

<!--<ul>-->
    <!--<li  ng-repeat="pullRequest in pullRequests" ng-click="getDiff(pullRequest)">{{pullRequest}}</li>-->
<!--</ul>-->


