
<div>
<button ng-click = "toggle()">Information</button>

        <div id="sidebar-wrapper" ng-show="checked">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">Information</li>
                <li><a href="#">Suggested Edits {{document.pullRequests.length}}</a></li>
                <li><a href="#">Collaborators {{document.editAccess.length}}</a></li>
                <li><a href="#">Drafts {{commits.length}}</a></li>
            </ul>
        </div>
</div>
<medium-editor ng-model="docInfo.content"  options='{"placeholder": "Start writing", "buttons": ["bold", "italic", "underline", "anchor", "header1", "header2", "quote", "orderedlist", "unorderedlist"]}'></medium-editor><br/>


<button ng-click="createUserFolder()">Create doc</button>
<button ng-click="saveUserDocument(docInfo)">Save doc</button>
<button ng-click="branchDocument()">Branch doc</button>
<button ng-click="makePullRequest()">Suggest changes</button>

<ul>
    <li  ng-repeat="pullRequest in pullRequests" ng-click="getDiff(pullRequest)">{{pullRequest}}</li>
</ul>


