.userJumbotron {
  width: 100%;
  height: 30vh;
  background: url("https://ununsplash.imgix.net/photo-1422640805998-18a4dd89bec2?fit=crop&fm=jpg&h=625&q=75&w=1050") no-repeat fixed center;
  background-size: cover;
  opacity: 1.8;
  border-bottom: 10px solid black;
}


.container-fluid.userDesc {
  color: grey;

}

#userProfile {
  width: 100%;

}

.userBtn {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  color: grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}
.description{
  text-align: center;
  .col-sm-3 {
    text-align: center;
  }
}

.userProfName{
  text-align: center;
  font-weight: 250;
}
.userCircle {
  border-radius: 50%;
  background-color: white;
  text-align: center;
  width: 250px;
  height: 30vh;
  margin: 0 auto;
  margin-top: 30%;
  font-size: 4em;
  padding-top: 15%;
  font-family: 'Megrim', cursive;
}

.userDocuments {
    margin-top: 90px;
    width: 100%;
    background-color: #eee;
}
.title {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.14902);
  font-family: sans-serif;
  line-height: 1.3;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  
}
h3 {
  font-family: sans-serif;
  line-height: 1.3;
  font-size: 24px;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  }
h3:hover {
  color: #9e9e9e;
}


.eachDoc {
  margin: 3% 5%;
  padding: 1px;
  font-style: bold;
  font-size: 1.5em;
p {
  font-family: sans-serif;
  font-size: 0.8em;
  color: rgba(0,0,0,0.3);
}

}

.containerDoc {

  width: 80%;

  position: absolute;
  left: 150px;
}


.col-sm-10 {
	margin-left: 10%;
	text-align: center;

}

.userName {
	text-align: center;
	margin: 3%;
}

img {
	margin: 3%;
	border-radius: 10%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url(http://weloveiconfonts.com/api/?family=entypo);

$icon-list: (
    twitter "\F309" #32b9e7,
    facebook "\F30C" #4b70ab,
    googleplus "\F30F" #fa5432,
  
    linkedin "\F318" #0087be,
    
    instagram "\F32D" #6291b2,
    );

@each $icon, $unicode, $icon-background in $icon-list {
  
    .icon--#{$icon} {
        &::before {
            content: $unicode;
        }
    }

    .social__icon--#{$icon} {
      background-color: $icon-background;
      
        &:hover {
          background-color: mix(black, $icon-background, 15%);
        }
      
    }

}

.social__item {
    display: inline-block;
    margin-right: 0.1em;
    opacity: 0.7;
}

.icon {
	font-family: 'entypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}

[class^="icon--"] {
	@extend .icon;
}

.social__icon {
  font-size: 1.4em;
  color: white;
  text-decoration: none;
  border-radius:100%;
  width: 2.2em;
  height: 2.2em;
  text-align: center;
  

  display: flex;
  align-items: center;
  justify-content: center;
}

[class^="social__icon"] {
	@extend .social__icon;
}

.social__container {
	padding: 1em;
	font-size: 1.5em;
}

h2 {
	font-size: 1.8em;
	text-align: left;
} 
.aboutMe {
	text-align: left;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1.3em;
	margin: 3%;
}

.dateCreated {
	text-align: left;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1em;
}

.documentList {


  border: 1px solid #d8d8d8;
  background:none;
  border-radius: 45%;
  padding: 20px;
  width: 30%;
  cursor: pointer;
  outline: none;


	margin-top: 5%;
	font-size: 1.4em;
	color: #757575;


	text-align: center;
	outline: none;
	background-color: #e0f2f1;
	opacity: 0.7;
}

.documentList:hover {
  transform: rotate(180deg);
  background-color: #d8d8d8;
}

