
<div class="container">
    <div id="userDashboard">
       <tabset justified="true">
          <tab heading="Drafts ({{commits.length}})">
            <div class="tabInfo">
             <ul>
                <li ng-repeat="commit in commits" ng-click="showVersion(commit, document)">{{commit.message}}, {{commit.authored_date | date:'medium'}}</li>
             </ul>
            </div>
          </tab>
          <tab heading="Collaborators ({{document.editAccess.length}})">
              <div class="tabInfo">
             <ul>
                <li ng-repeat="collaborator in document.editAccess" ui-sref='userProfile({userId: collaborator._id})'>{{collaborator.name.first}} {{collaborator.name.last}}</li>
             </ul>
              </div>
          </tab>
          <tab heading="Suggested Edits ({{document.pullRequests.length }}) ">
              <div class="tabInfo">
             <ul>
                <li ng-repeat="pullRequest in document.pullRequests" ng-click="open('lg', document, $index, pullRequest)">{{pullRequest.author}} {{pullRequest.message}}</li>
             </ul>
              </div>
          </tab>
       </tabset>
    </div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-body">
        <div ng-bind-html="content"></div>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="ok()">OK</button>
        <button class="btn" ng-click="mergeChanges()">Merge</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="versionModalContent.html">
    <div class="modal-body">
        <div ng-bind-html="versionContent"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-primary" ng-click="restoreVersion()" ng-show="differentContent">Restore</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
