<div>
   <tabset justified="true">
      <tab heading="Drafts">
         <ul>
            <li ng-repeat="commit in commits">{{commit.date}} {{commit.message}}</li>
         </ul>
      </tab>
      <tab heading="Collaborators">
         <ul>
            <li ng-repeat="collaborator in document.editAccess">{{collaborator}}</li>
         </ul>
      </tab>
      <tab heading="Suggested Edits">
         <ul>
            <li ng-repeat="pullRequest in document.pullRequests" ng-click="open('lg')">{{pullRequest.author}} {{pullRequest.message}}</li>
         </ul>
      </tab>
   </tabset>
</div>

<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
