* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#view-content {
    margin-top: 50px;
}

@import 'home/main';
@import 'login/main';
@import 'editor/main';
@import 'documentDashboard/main';
@import 'userProfile/main';
@import 'userDocuments/main';
@import 'directives/main';
@import 'userBookmarks/main';
@import 'directives/document-snapshot';
@import 'browse/main';
